<div class="col-sm-4 pull-right">
    <h4 class="title">HOT THEME</h4>
    <ul class="ul-theme">
        <li>
            <a href="/MusicStore/product-list">
                <img class="img-theme" th:src="@{/images/music-love.jpg}" alt="music-love">
            </a>
        </li>
        <li>
            <a href="/MusicStore/product-list">
                <img class="img-theme" th:src="@{/images/hits.png}" alt="music-love">
            </a>
        </li>
        <li>
            <a href="/MusicStore/product-list">
                <img class="img-theme" th:src="@{/images/acoustic.jpg}" alt="music-love">
            </a>
        </li>
    </ul>
</div>